pandas filter

In [ ]:
import pandas as pd
data = pd.read_csv('world_alcohol.csv')
data.head()

In [ ]:
data.nunique()

Year               5
WHO region         6
Country           80
Beverage Types     4
Display Value     56
dtype: int64

1-Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset

In [ ]:
flt_wine = data["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(data[flt_wine])

2-Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset

In [ ]:
who_region = ["Africa", "Eastern Mediterranean", "Europe"]
flt_wine = ~data["WHO region"].isin(who_region)
print(data[flt_wine])

3-Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset

In [ ]:
print(data[(data['Display Value'] < 2.5) & (data['Display Value']>.5)].head())

4-Write a Pandas program to find number of consumption of wine per person greater than 2 in world alcohol consumption dataset

In [ ]:
print(data[(data['Beverage Types'] == 'Wine') & (data['Display Value'] > .2)].count())

5-Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset

In [ ]:
print(data.filter(regex='0$', axis=0))

6-Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [ ]:
print(data.loc[:,"Country":"Display Value"].head())

In [ ]:
print(data.iloc[:,2:5].head())

In [ ]:
print(data.loc[0:9,["Year","Country","Display Value"]])

7-Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset.

In [ ]:
data.iloc[1::5].head(10)

pandas grouping and aggregating

In [ ]:
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
student_data.head()

,school_code,class,name,date_Of_Birth,age,height,weight,address
S1,s001,V,Alberto Franco,15/05/2002,12,173,35,street1
S2,s002,V,Gino Mcneill,17/05/2002,12,192,32,street2
S3,s003,VI,Ryan Parkes,16/02/1999,13,186,33,street3
S4,s001,VI,Eesha Hinton,25/09/1998,13,167,30,street1
S5,s002,V,Gino Mcneill,11/05/2002,14,151,31,street2

1-Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object

In [ ]:
result = student_data.groupby(['school_code'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

In [ ]:
result = student_data.groupby(['school_code'])
len(result)

4

2. Write a Pandas  program to split the following dataframe by school code and get mean, min, and max value of age for each school

In [ ]:
grouped_single = student_data.groupby('school_code').agg({'age': ['mean', 'min', 'max']})
print(grouped_single)

              age
             mean min max
school_code
s001         12.5  12  13
s002         13.0  12  14
s003         13.0  13  13
s004         12.0  12  12

3. Write a Pandas program to split the following given dataframe into groups based on school code and class

In [ ]:
result = student_data.groupby(['school_code', 'class'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)

style

Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': np.linspace(1, 10,10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
print("\nNegative numbers red and positive numbers black:")
df.style.highlight_null(null_color='red')

Original array:
      A         B         C         D         E
0   1.0 -0.802332       NaN -0.138263 -0.470874
1   2.0 -0.313894 -0.308149 -1.300694 -0.588126
2   3.0 -0.656701 -1.673710  0.319815  0.806582
3   4.0 -0.238460 -0.257553       NaN  0.170327
4   5.0       NaN -0.114680 -0.529324 -1.112981
5   6.0 -0.259462 -0.992229 -0.461104  0.730760
6   7.0  1.647490 -0.556133 -1.299855  1.124259
7   8.0 -1.094000  0.284062  0.019442  0.152530
8   9.0 -0.333385 -1.351875  0.664361 -0.261644
9  10.0 -1.013569  0.126093 -0.796576       NaN

Negative numbers red and positive numbers black:

Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframe’s specific columns with different colors.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
print("\nDifferent background color:")
coldict = {'B':'red', 'D':'yellow'}

def highlight_cols(x):
    #copy df to new - original data are not changed
    df = x.copy()
    #select all values to default value - red color
    df.loc[:,:] = 'background-color: red'
    #overwrite values grey color
    df[['B','C', 'E']] = 'background-color: grey'
    #return color df
    return df    

df.style.apply(highlight_cols, axis=None)

Original array:
      A         B         C         D         E
0   1.0 -1.086028       NaN  1.681683 -2.453682
1   2.0 -0.121366 -1.223406 -1.486419  0.852988
2   3.0 -0.275621 -0.421774  0.468246 -0.345871
3   4.0 -1.529607 -0.488445       NaN -0.035863
4   5.0       NaN -0.203190 -1.659159 -1.419470
5   6.0  0.574383  0.472583  1.831569  1.041504
6   7.0 -0.099452  1.170370 -2.260768 -0.794143
7   8.0 -0.634908 -2.329028  0.038551 -1.152470
8   9.0 -0.117057  0.854916 -0.996020 -0.517409
9  10.0  0.678757 -1.266961  1.272396       NaN

Different background color:

Write a Pandas program to display the dataframe in Heatmap style.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)

df.style.background_gradient(cmap='YlOrRd')