In [11]:
import findspark
findspark.init()
findspark.find()

'C:\\ApacheSpark\\spark-3.0.1-bin-hadoop3.2'

In [12]:
import pyspark
findspark.find()

'C:\\ApacheSpark\\spark-3.0.1-bin-hadoop3.2'

In [13]:
import pyspark
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.master("local[*]").appName("Datamanipulation").getOrCreate()

In [24]:
data="hello ","world"
rdd=spark.sparkContext.parallelize(list(data))
rddc=rdd.collect()
for i in rddc:
    print(i,end='')

hello world

In [25]:
data=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(spark.sparkContext.parallelize(data).reduce(lambda x,y:x+y))

210

In [26]:
from operator import add
print(spark.sparkContext.parallelize(data).reduce(add))

210

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StringType, IntegerType, StructType

spark=SparkSession.builder \
    .master("local[1]") \
    .appName('classfriends')\
    .getOrCreate()

data=[("Mohamed","Jabri","male","usa","25",3000),
      ("Yousuf","Almassri","male","jordon","24",2500),
      ("Rama","Teba","Female","Syria","25",4000),
      ("Ahamd","Mahfouz","male","Egypt","23",2000),
      ("Moe","Jiro","male","USA","34",3500),
      ("Khaled","Alaseeri","male","Oman","36",4000)]

schema=StructType([\
    StructField("Name",StringType(),False),\
    StructField("Surname",StringType(),False),\
    StructField("Gender",StringType(),False),\
    StructField("Country",StringType(),False),\
    StructField("Age",StringType(),False),\
    StructField("Salary",IntegerType(),False),\
    ])

df=spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- Name: string (nullable = false)
 |-- Surname: string (nullable = false)
 |-- Gender: string (nullable = false)
 |-- Country: string (nullable = false)
 |-- Age: string (nullable = false)
 |-- Salary: integer (nullable = false)

+-------+--------+------+-------+---+------+
|Name   |Surname |Gender|Country|Age|Salary|
+-------+--------+------+-------+---+------+
|Mohamed|Jabri   |male  |Syria  |25 |3000  |
|Yousuf |Almassri|male  |Syria  |24 |2500  |
|Rama   |Teba    |Female|Syria  |25 |4000  |
|Ahamd  |Mahfouz |male  |Egypt  |23 |2000  |
|Moe    |Jiro    |male  |USA    |34 |3500  |
|Khaled |Alaseeri|male  |Oman   |36 |4000  |
+-------+--------+------+-------+---+------+

In [28]:
from pyspark.sql.functions import col

print("Befor Increasing")
df.show(truncate=False)
c=col('Salary')+(col('Salary')*0.1)
df1=df.withColumn('Salary',c)
print("After Increasing")
df1.show(truncate=False)

Befor Increasing
+-------+--------+------+-------+---+------+
|Name   |Surname |Gender|Country|Age|Salary|
+-------+--------+------+-------+---+------+
|Mohamed|Jabri   |male  |Syria  |25 |3000  |
|Yousuf |Almassri|male  |Syria  |24 |2500  |
|Rama   |Teba    |Female|Syria  |25 |4000  |
|Ahamd  |Mahfouz |male  |Egypt  |23 |2000  |
|Moe    |Jiro    |male  |USA    |34 |3500  |
|Khaled |Alaseeri|male  |Oman   |36 |4000  |
+-------+--------+------+-------+---+------+

After Increasing
+-------+--------+------+-------+---+------+
|Name   |Surname |Gender|Country|Age|Salary|
+-------+--------+------+-------+---+------+
|Mohamed|Jabri   |male  |Syria  |25 |3300.0|
|Yousuf |Almassri|male  |Syria  |24 |2750.0|
|Rama   |Teba    |Female|Syria  |25 |4400.0|
|Ahamd  |Mahfouz |male  |Egypt  |23 |2200.0|
|Moe    |Jiro    |male  |USA    |34 |3850.0|
|Khaled |Alaseeri|male  |Oman   |36 |4400.0|
+-------+--------+------+-------+---+------+

In [39]:
text = spark.sparkContext.textFile("C:\\Users\\abdullah\\PycharmProjects\\dataAnalyticsCodes\\HowMany_AbdullahJiroudi\\text.txt")
words = text.flatMap(lambda line: line.split(" "))\
        .map(lambda x: x.lower().replace(',',''))\
        .map(lambda value: (value,1) )\
        .reduceByKey(add)

wordcount = words.sortBy(lambda  key: key[1]).collect()
for(word,count) in wordcount: print(word," : ", count)

analytic  :  1
work  :  1
more  :  1
in  :  1
are  :  1
very  :  1
study  :  1
how  :  1
with  :  1
every  :  1
class.  :  1
important.  :  1
we  :  2
data  :  2
to  :  2
learn  :  2
skills  :  2